doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Device Info
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="stylesheet" href="dist/css/deviceinfo.min.css")
  body

    include inc/header.pug

    include inc/sections.pug

    include inc/footer.pug
