
footer
  .container
    .row
      .col-xs-12.text-center
        p
          a.btn.btn-sm.btn-facebook(href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftomlutzenberger.github.io%2Fdevice-info%2F" target="_blank")
            i.fa.fa-fw.fa-lg.fa-facebook(aria-hidden="true")
            | &nbsp;Share
          | &nbsp;
          a.btn.btn-sm.btn-twitter(href="https://twitter.com/share?text=Life%20advices%20-%20A%20collection%20of%20helpful%20life%20advices&amp;url=https%3A%2F%2Ftomlutzenberger.github.io%2Fdevice-info%2F&amp;via=t0mlutzenberger&amp;hashtags=device%2Cinfo" target="_blank")
            i.fa.fa-fw.fa-lg.fa-twitter(aria-hidden="true")
            | &nbsp;Tweet
          | &nbsp;
          a.btn.btn-sm.btn-github(href="https://github.com/tomlutzenberger/device-info" title="Contribute on GitHub" target="_blank")
            i.fa.fa-fw.fa-lg.fa-github(aria-hidden="true")
            | &nbsp;Contribute

        p
          | Made with&nbsp;
          span.color-red
            i.fa.fa-heart(aria-hidden="true")
            span.sr-only
              | ❤
        p
          | A Project by&nbsp;
          a(href="https://tomlutzenberger.de" target="_blank")
            | Tom Lutzenberger


script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
script(src="dist/js/deviceinfo.min.js")
