
div.navbar.navbar-default.navbar-fixed-top
  div.container
    div.navbar-header.text-center
      a.navbar-brand(href="/")
        span.fa-stack
          i.fa.fa-tablet.fa-stack-2x(aria-hidden=true)
          i.fa.fa-info.fa-stack-1x(aria-hidden=true)
        | Device Info
